<div class="navbar">
  <ul class="nav">
    <li class="item" [class.active]="isActive(Page.Back)">
      <button (click)="setActive(Page.Back)">
        <fa-icon [icon]="faShare"></fa-icon>
      </button>
    </li>
    <li class="item" [class.active]="isActive(Page.Chat)">
      <button (click)="setActive(Page.Chat)">
        <fa-icon [icon]="faCommentAlt"></fa-icon>
      </button>
    </li>
    <li class="item" [class.active]="isActive(Page.Online)">
      <button (click)="setActive(Page.Online)">
        <fa-icon [icon]="faAddressBook"></fa-icon>
      </button>
    </li>
    <li class="item" [class.active]="isActive(Page.Settings)">
      <button (click)="setActive(Page.Settings)">
        <fa-icon [icon]="faCog"></fa-icon>
      </button>
    </li>
    <li class="item" [class.active]="isActive(Page.Add)">
      <button (click)="setActive(Page.Add)">
        <fa-icon [icon]="faPlus"></fa-icon>
      </button>
    </li>
  </ul>
</div>
