@use "sass:color";
@import "/src/theme/variables.scss";

input[type="text"],
input[type="password"],
input[type="email"] {
  background-color: lighten($color-2, 7%);

  width: 100%;
  padding: 10px;
  margin: 12px 0;
  border: none;
  border-radius: 5px;
  border-bottom: 1px solid $color-1;
  color: $other-1;
}

label {
  color: $white;
}

input[type="text"].empty,
input[type="password"].empty,
input[type="email"].empty {
  border: 1px solid rgb(255, 180, 180);
}
