<app-form [formGroup]="createForm" (ngSubmit)="getSelectedList()">
  <h1>Create Room</h1>

  <app-text-input
    [type]="type.Text"
    label="Room Name"
    formControlName="name"
  ></app-text-input>

  <mat-form-field appearance="fill">
    <mat-label>Users</mat-label>
    <mat-select formControlName="users" multiple>
      <mat-option *ngFor="let user of userList" [value]="user">{{
        user
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Admins</mat-label>
    <mat-select formControlName="admins" multiple>
      <mat-option *ngFor="let user of f.users.value" [value]="user">{{
        user
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <p *ngFor="let error of errors">* {{ error }}</p>

  <app-button [disabled]="!createForm.valid">Create</app-button>
</app-form>
