<app-background>
  <app-form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <h1>Signup</h1>

    <div class="name">
      <app-text-input
        [type]="type.Text"
        label="First Name"
        formControlName="firstname"
      ></app-text-input>

      <app-text-input
        [type]="type.Text"
        label="Last Name"
        formControlName="lastname"
      ></app-text-input>
    </div>

    <app-text-input
      [type]="type.Email"
      label="E-Mail"
      formControlName="email"
    ></app-text-input>

    <app-text-input
      [type]="type.Text"
      label="Username"
      formControlName="username"
    ></app-text-input>

    <app-text-input
      [type]="type.Password"
      label="Password"
      formControlName="password"
    ></app-text-input>

    <app-text-input
      [type]="type.Password"
      label="Confirm Password"
      formControlName="confirmpassword"
    ></app-text-input>

    <app-button>Sign Up</app-button>

    <a href="./login">Already Have An Account?</a>
  </app-form>
</app-background>
