@import "/src/theme/variables.scss";

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 95%;
  height: 100%;
  margin: auto;

  padding-top: 10px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

button {
  width: 100%;

  border: none;
  background: none;

  padding: 15px;

  font-size: 20px;

  background-color: $color-1;
  color: $white;
}

h1 {
  color: $white;

  margin: 20px 0;
}

mat-form-field {
  width: 100%;
  overflow-y: hidden;
}

mat-slide-toggle {
  margin-right: auto;
  padding: 30px 10px;
  color: black;

  display: flex;
  align-items: center;
}
