<div class="container">
  <app-group
    (toggleSettingsEvent)="toggleSettings()"
    (roomEvent)="changeRoom($event)"
  ></app-group>
  <div #scroller *ngIf="currentRoom && !settings" class="messages">
    <app-message
      *ngFor="let message of currentRoom.messages"
      [message]="message"
    ></app-message>
  </div>
  <app-message-form
    *ngIf="!settings"
    [currentRoom]="currentRoom"
    (messageEvent)="sendMsg($event)"
  ></app-message-form>

  <room-settings
    [currentRoom]="currentRoom"
    class="settings"
    *ngIf="settings && currentRoom"
  ></room-settings>
</div>
