@import "/src/theme/variables.scss";

a {
  margin: 10px auto;
  color: $light-blue;
}

app-button {
  margin: 10px auto;
}

@media only screen and (min-width: $break-point-2) {
  app-form {
    width: 350px;
  }
}

@media only screen and (max-width: $break-point-2) {
  app-form {
    width: 95%;
  }
}

h1 {
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: $light-blue;
}

.name {
  display: flex;
  flex-flow: row nowrap;
}

.name > * + * {
  margin-left: 5px;
}

p {
  margin-top: 5px;
  padding: 8px;
  border-radius: 8px;
  background-color: #f44336;
  color: $white;
}

.req {
  border: 1px #f44336 solid;
}
