@use "sass:color";
@import "/src/theme/variables.scss";

$border-radius: 10px;

.container {
  width: 95%;
  background-color: $color-2;

  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: stretch;

  margin: 5% auto;

  // -moz-border-radius: $border-radius; //for mozilla support
  // -webkit-border-radius: $border-radius; //for chrome support
  // border-radius: $border-radius;

  overflow: hidden;
}

input[type="text"] {
  flex-grow: 1;

  background-color: lighten($color-2, 7%);

  color: $other-1;

  margin: 0 2%;
  padding: 2%;

  border: 1px solid lighten($other-1, 10%);
  border-radius: $border-radius;

  overflow-x: scroll;
}
button {
  border: 0;
  padding: 0;

  font-size: 1.2rem;

  background-color: $other-1;
  color: $color-2;

  border-radius: $border-radius;
}

@media only screen and (min-width: $break-point-1) {
  button {
    width: 15%;
  }
}

@media only screen and (max-width: $break-point-1) {
  button {
    width: 10%;
  }
}
