@import "/src/app/config/theme.scss";

.container {
  margin: auto;
  background-color: $color-2;

  border-radius: 5px;

  padding: 20px;
}

form {
  display: flex;
  flex-flow: column nowrap;
}

@media only screen and (min-width: $break-point-2) {
  .container {
    width: 350px;
  }
}

@media only screen and (max-width: $break-point-2) {
  .container {
    width: 95%;
  }
}
